<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="d-flex justify-content-between">
        <div class="row">
          <h3 class="col-sm-12 col-md-6">Welcome, <%= current_user.username %></h3>
          <div class="col-sm-12 col-md-6">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-danger mr-2 mb-1" %>
            <%= link_to "Dashboard", dashboard_root_path, class: "btn btn-sm btn-secondary mb-1" if current_user.admin? %>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <%= link_to "Orders", orders_path, class: "nav-link text-decoration-none text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", edit_user_registration_path, class: "nav-link active text-decoration-none text-dark font-weight-bold" %>
        </li>
      </ul>
      <div class="form mt-3"></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="form-group">
          <%= f.label :username, class: "font-weight-bold" %><br />
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>
      
        <div class="form-group">
          <%= f.label :email, class: "font-weight-bold" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      
        <div class="form-group">
          <%= f.label :password, class: "font-weight-bold" %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      
        <div class="form-group">
          <%= f.label :password_confirmation, class: "font-weight-bold" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Update", class: "btn btn-secondary" %>
          <%= link_to "Back", :back, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
