<section class="container-fluid">
  <h3>Cart Items</h3>
  <% if current_cart.empty? %>
    <p>Please Choose Something</p>
    <%= link_to "Choose Item", root_path, class: "btn btn-info" %>
  <% else %>
    <div class="mb-3">
      <%= link_to cart_path, method: :delete, data: {confirm: "Are you sure?"}, class: "text-decoration-none text-dark" do %>
        <i class="far fa-trash-alt"></i>
        Delete Items
      <% end %>
    </div>
    <%= render 'cart' %>
    <%= link_to "Choose Item", root_path, class: "btn btn-secondary" %>
    <%= link_to "Pay", checkout_cart_path, class: "btn btn-info" %>
  <% end %>  
</section>
