<div class="container m-3">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
      <%= form_with model: [:dashboard, product] do |f| %>
        <div class="form-group">
          <%= f.label :name, class: "font-weight-bold" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :list_price, class: "font-weight-bold" %>
          <%= f.number_field :list_price, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :sell_price, class: "font-weight-bold" %>
          <%= f.number_field :sell_price, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :vendor_id, "Vendor", class: "font-weight-bold" %>
          <%= f.collection_select :vendor_id, Vendor.available, :id, :title, { prompt: 'Select Vendor' }, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.check_box :on_sell %>
          <%= f.label :on_sell, class: "font-weight-bold" %>
        </div> 
        <div class="form-group">
          <%= f.label :content, class: "font-weight-bold" %>
          <%= f.rich_text_area :content %>
        </div>      
        <div class="form-group">
          <h4>Stock Items</h4>
          <%= f.fields_for :skus do |sku_form| %>
            <%= render 'sku_fields', form: sku_form %>
          <% end %>
        </div> 
        <div class="action">
          <%= f.submit (product.name? ? 'Update' : 'Create'), class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>