<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= image_pack_tag "login/log_in.jpg", class: "d-block w-100 h-75" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="user-zone border rounded shadow p-3 m-3">
        <h3 class="d-flex justify-content-around">
          <div class="column-border"><%= link_to "Log in", new_user_session_path, class: "text-dark text-decoration-none" %></div>
          <div><%= link_to "Sign Up", new_user_registration_path, class: "text-dark text-decoration-none" %></div>
        </h3>

        <div class="form-zone">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "font-weight-bold" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= f.label :password, class: "font-weight-bold" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: "font-weight-bold" %>
              </div>
            <% end %>
          
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-info" %>
            </div>
          <% end %>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
        </div>
      </div>
    </div>
  </div>
</div>

