<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h3 class="m-3">Vendors</h3>
      <div class="mb-3"><%= link_to "Create new vendor", new_dashboard_vendor_path, class: "btn btn-success" %></div>
      
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Online</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @vendors.each do |vendor| %>
          <tr>
            <td><%= link_to vendor.title, edit_dashboard_vendor_path(vendor), class: "text-decoration-none text-dark" %></td>
            <td><%= vendor.description %></td>
            <td><%= vendor.online %></td>
            <td>
              <%= link_to "Delete", dashboard_vendor_path(vendor), method: :delete,
                                    data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      
      </table>
    </div>
  </div>
</div>
