<section class="product-content container">
  <div class="row">
    <div class="col-7">
      <div class="product-image">
        <%= image_tag @product.cover_image, class: "d-block w-100" if @product.cover_image.attached? %>
      </div>
    </div>
    <div class="col-5" data-controller="product" data-product-id="<%= @product.code %>">
      <h4 class="text-muted"><%= @product.vendor.title %></h4>
      <h2><%= @product.name %></h2>
      <p class="line-through"><strong>List Price: </strong><%= @product.list_price %></p>
      <p><strong>Sell Price: </strong><%= @product.sell_price %></p>

      <% if @product.skus.any? %>
        <div class="form-row">
          <div class="col-3 my-auto">
            <lable class="align-middle"><strong>Spec </strong></label>
          </div>
          <div class="col-9 my-auto">
            <select class="custom-select custom-select-md">
              <%= options_for_select(@product.skus.map { |p| [p.spec, p.id] }) %>
            </select>
          </div>
        </div>
      <% end %>

      <div class="form-row mt-3 mb-3">
        <div class="col-3 my-auto">
          <label><strong>Quantity </strong></label>
        </div>
        <div class="col-9 my-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <%= link_to "#", class: "input-group-text text-decoration-none", data: { action: "product#quantity_minus" } do %>
                -
              <% end %>
            </div>
            <input type="text" class="form-control text-center" value="1" data-target="product.quantity">
            <div class="input-group-append">
              <%= link_to "#", class: "input-group-text text-decoration-none", data: { action: "product#quantity_plus"} do %>
                +
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="action">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= link_to "Add to Cart", "#", class: "btn btn-info btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="content">
        <h5>Product Introduce</h5>
        <p><%= @product.content%></p>
      </div>
    </div>
  </div>
</section>